/**
 * Nesta seção contém todas as configurações CSS de jogatina.jsx
 */

@media all {
    .navbar-toggler {
        padding: 0;
    }

    .navbar .nav-item .dropdown-menu {
        /* display: none; */
    }

    /* .navbar .nav-item:hover .dropdown-menu {
        display: block !important;
    } */

	.navbar .nav-item > #dropdown_menu {
        /* display: none; */
    }

    .navbar .nav-item:hover > #dropdown_menu {
        /* display: block !important; */
    }

	.navbar .nav-item .dropdown-menu li, .navbar {
        text-align: center;
    }

    .navbar .nav-item {
        --bs-navbar-nav-link-padding-x: 0;
    }

    .navbar .container-fluid {
        width: auto;
    }

    .navbar .offcanvas {
        width: min-content;
    }
}

.navbar {
    height: 21px;
}

#navbar1 {
    z-index: 9994;
}

#navbar2 {
    z-index: 9995;
}

#navbar3 {
    z-index: 9996;
}

#navbar4 {
    z-index: 9997;
}

#navbar5 {
    z-index: 9998;
}

#navbar6 {
    z-index: 9999;
}

.lbl-dezena {
    padding: 0px;
    border: 0px;
    margin: 0px;
    --bs-btn-border-radius: 0px;
    white-space: nowrap;
    background-color: #ffe8be;
    font-size: x-small;
}

.col-qtd-dezena {
    background-color: white;
}

.col-atraso-dezena {
    background-color: darkblue;
    color: white;
}

.col-probabilidade-dezena {
    background-color: darkcyan;
    color: white;
}

.col-repeticoes-dezena {
    background-color: darksalmon;
}

.mais-sorteados {
    background-color: green;
    color: yellow !important;
    font-weight: bolder;
}

.menos-sorteados {
    background-color: darkred;
    color: white !important;
}
