/**
 * Nesta seção contém todas as configurações CSS de notificacoes.jsx
 */

#div_limitar {
    white-space: nowrap;
}

#div_destaques {
    color: yellow !important;
    font-weight: bolder;
    font-family: monospace;
    border: 1px solid yellow;
    background-color: lightseagreen;
}

#dropdown_menu {
    padding-left: 1px;
    display: block
}

#notificacoes {
    width: 380px;
}

#notificacoes .col {
    padding: 0px;
    max-width: fit-content;
    vertical-align: middle;
}

.col-numero {
    background-color: #ffe8be;
}
