/**
 * Nesta seção contém todas as configurações CSS de resultados.jsx
 */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightseagreen;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

#div_concursos {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 104px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #777d85;
    color: #fff;
    border: 1px solid #000;
}

#div_concursos div div {
    text-align: center;
    /* width: 12.5%; */
}

#div_concursos div:hover {
    background-color: #000;
    color: #fff;
}

#div_concursos div {
    cursor: pointer;
}

#linha_titulos, #linha_titulos div {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: darkgoldenrod !important;
    color: #000 !important;
    font-weight: bold;
}

.grid-striped .row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.30);
}

.destaque {
    color: yellow !important;
    font-weight: bolder;
    font-family: monospace;
    border: 1px solid yellow;
}

.destacar_linha {
    border: 2px solid yellow;
    color: #000;
    font-weight: bold;
}
