/**
 * Nesta seção contém todas as configurações CSS de resultados.jsx
 */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightseagreen;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

.resultados {
    position: absolute;
    top: 283px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#div_concursos {
    height: 410px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #777d85;
    color: #fff;
    border: 1px solid #000;
    z-index: 0;
}

#div_concursos div div {
    text-align: center;
}

#div_concursos div:hover {
    background-color: #000;
    color: #fff;
}

#div_concursos div {
    cursor: pointer;
}

#linha_titulos {
    background-color: darkgoldenrod !important;
    color: #000 !important;
    font-size: small;
    font-weight: bold;
}

#linha_titulos, #div_concursos {
    width: 390px;
}
.grid-striped .row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.30);
}

.dezenas_titulo, #concurso {
    max-width: fit-content;
}

#concurso {
    padding-left: 8px;
    padding-right: 0px;
}

.destaque {
    color: yellow !important;
    font-weight: bolder;
    font-family: monospace;
    border: 1px solid yellow;
}

.destacar_linha {
    border: 2px solid yellow;
    color: #000;
    font-weight: bold;
}
