/**
 * Nesta seção contém todas as configurações CSS da tbl_notificacoes
 */

 #ftr_rodape {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 185px;
}

#div_dezenas1_10 label, #div_dezenas11_20 label, #div_dezenas21_30 label, #div_dezenas31_40 label, #div_dezenas41_50 label, #div_dezenas51_60 label {
    padding: 0px;
    border: 0px;
    font-size: small;
    --bs-btn-border-radius: 0px;
    height: min-content;
    white-space: nowrap;
}

#div_rodape {
    background-color: #000;
    max-width: 100%;
    height: 120px;
    overflow: hidden;
    overflow-y: scroll;
}

#div_rodape div div {
    padding: 0px;
    flex: 0 0 0%;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tbl_dezenas1_10 tr td, #tbl_dezenas11_20 tr td, #tbl_dezenas21_30 tr td, #tbl_dezenas31_40 tr td, #tbl_dezenas41_50 tr td, #tbl_dezenas51_60 tr td, #tbl_txt_dezenas_sorteios_atrasos tr td {
    white-space: nowrap;
    font-size: small;
}

#linha_col_dezenas1_10, #linha_col_dezenas11_20, #linha_col_dezenas21_30, #linha_col_dezenas31_40, #linha_col_dezenas41_50, #linha_col_dezenas51_60 {
    background-color: #ffe8be;
}

#linha_col_qtd_sorteios1_10, #linha_col_qtd_sorteios11_20, #linha_col_qtd_sorteios21_30, #linha_col_qtd_sorteios31_40, #linha_col_qtd_sorteios41_50, #linha_col_qtd_sorteios51_60 {
    background-color: white;
}

#linha_col_atrasos1_10, #linha_col_atrasos11_20, #linha_col_atrasos21_30, #linha_col_atrasos31_40, #linha_col_atrasos41_50, #linha_col_atrasos51_60 {
    background-color: darkblue;
    color: white;
}

#linha_col_probabilidades1_10, #linha_col_probabilidades11_20, #linha_col_probabilidades21_30, #linha_col_probabilidades31_40, #linha_col_probabilidades41_50, #linha_col_probabilidades51_60 {
    background-color: darkcyan;
    color: white;
}

#linha_col_repeticoes1_10, #linha_col_repeticoes11_20, #linha_col_repeticoes21_30, #linha_col_repeticoes31_40, #linha_col_repeticoes41_50, #linha_col_repeticoes51_60 {
    background-color: darksalmon;
}

#div_tbl_notificacoes {
    width: 100%;
    max-width: 100%;
    background-color: lightseagreen;
    color: midnightblue;
}

#col_txt_dezenas, #col_txt_qtd_sorteios, #col_txt_atrasos {
    background-color: lightseagreen;
    color: black;
    width: 1%;
    height: fit-content;
}

.mais_sorteados {
    background-color: green;
    color: yellow !important;
    font-weight: bolder;
}

.menos_sorteados {
    background-color: darkred;
    color: white !important;
}

#col_txt_destaques {
    width: 1%;
    font-size: small;
}

#col_txt_notificacoes {
    width: 99%;
    white-space: nowrap;
    background-color: #fff;
    text-align: justify;
}

#div_tbl_notificacoes {
    width: 100%;
}

#div_txt_notificacoes {
    width: 100%;
    height: 60px;
    overflow: hidden;
    overflow-y: scroll;
    vertical-align: middle;
    font-size: small;
}

#div_tbl_notificacoes {
    --bs-gutter-x: 0px;
}
